/* css */
/* css */
html {
  background-color: #062340;
}

h1 {
  color: #009999;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  margin-left: 70px;
  margin-top: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  width: 60vw;
  height: 202px;
  align-content: center;
}

/*insertText*/

.insertText {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  color: #009999;
  background-color: #2a282e;
  width: 300px;
  height: 150px;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(60, 64, 67, 0.3);
}

.insertText input[type="text"] {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  width: 274px;
  margin-left: 10px;
  padding: 0;
  display: flex;
  height: 50px;
}

.insertText label {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
}

/*cipherText*/

.cipherText input[type="text"] {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  width: 274px;
  margin-left: 10px;
  padding: 0;
  display: flex;
  height: 50px;
}

.cipherText label {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
}

.cipherText {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  color: #009999;
  background-color: #2a282e;
  width: 300px;
  height: 150px;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(60, 64, 67, 0.3);
}

/*buttons*/

.buttons,
.offset {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  width: 60vw;
  align-content: center;
  flex-direction: column;
}

#cifrar {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #e0e0e0;
  border-radius: 30px;
  border: none;
  width: 100px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#decifrar {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #e0e0e0;
  border: none;
  border-radius: 30px;
  width: 100px;
  height: 50px;
}

/*deslocamento*/

.offset input[type="number"] {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #e0e0e0;
  border-radius: 15px;
  border: none;
  width: 128px;
  height: 50px;
  outline: none;
}
