html {
  margin: 0;
  padding: 0;
  background-color: #241D40;
}

header {
  display: flex;
}

h1 {
  color: white;
  background-color: #988BC7;
  width: 91px;
  border-radius: 3px;
  font-size: 60px;
  margin-top: 40px;
  margin-left: 80px;
  font-family:"Inter", sans-serif;
  font-weight: 700;
}

span {
  font-family: "Inter", sans-serif;
  color: #a8a8b3;
}

h2 {
  color: white;
  font-family:"Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding: 60px 82px;
}

p {
  color: white;
  font-family:"Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 60px 82px;
  background-color: #241F33;
  padding: 60px 82px;
  margin-top: -20px;
}


ul{
  font-size: 18px;
  color: white;
  font-family: "Inter", sans-serif;
  margin-bottom: 5px;
  background-color: #2D2640;
  text-align: center;
  padding: 60px 82px;
  line-height: 26px;
}

.textBox {
margin-top: 40px;
}

fieldset { 
display: flex;
margin: auto;
justify-content: space-between;
width: 60vw;
height: 175px;
align-items: center;
border: none;
flex-direction: column;
flex-wrap: wrap;
}

input[type="text"]  {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: black;
  background-color: #E8E6EF;
  width: 350px;
  height: 150px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(60, 64, 67, 0.3);
  display: flex;
  text-align: center;
}

label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  width: 326px;
  align-content: center;
}


#cifrar, #decifrar, #offset {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background: #483C67;
  font-size: 14px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  border-color: #988BC7;
  color: white;
  margin-bottom: 130px;
  margin-top: 30px;
}

#cifrar:hover{
  background: #988BC7;
}

#decifrar:hover{
  background: #988BC7;
}

#offset {
  height: 45px;
}

input::placeholder{
  text-align: center;
}